/bin
/experiments

# ignore Intellij IDEA cruft
/.idea
*.iml
/target

# ignore Ecplise IDE cruft
.classpath
.project

# ignore results folder
/results

# ignore some documents
/docs/ChangeLog

# ignore python pyc files
*.pyc
Results/

src/config-files/

\.Rhistory

\.RData


# ignore figures
*.eps
*.pdf

sigma\.csv

results\.csv

parameter-inputs\.csv

muStar\.csv

mu\.csv

morris-input\.csv

Working paper drafts/

statistical output R/

R code files/

*.RData

*.rds

wealth-effect-git.Rproj

Working-Paper-vulnerability-Notebook.md

.Rproj.user/

.settings/

R-Code/

wealth-effect.Rproj
