/bin
/experiments

# ignore Intellij IDEA cruft
/.idea
*.iml
/target

# ignore Ecplise IDE cruft
.classpath
.project

# ignore results folder
/results

# ignore some documents
/docs/ChangeLog

# ignore python pyc files
*.pyc
Results/

src/config-files/

\.Rhistory

\.RData


# ignore figures
*.eps
*.pdf

sigma\.csv

results\.csv

parameter-inputs\.csv

muStar\.csv

mu\.csv

morris-input\.csv

*.rds

*.RData

wealth-effect-git.Rproj

statistical output R/

Working-Paper-vulnerability-Notebook.md

outputsCalibrationTest_may2021.csv

R code files/

Working paper drafts/Working-Paper-vulnerability-Notebook_files/

Working paper drafts/Working-Paper-vulnerability-Notebook_cache/

Working paper drafts/Working-Paper-vulnerability-2nd-Draft_cache/

Working paper drafts/smaller paper file for testing output/

Working paper drafts/Micro data preparation for paper - vulnerability/

Working paper drafts/libs/

Working paper drafts/index/

Working paper drafts/Working-Paper-vulnerability-Notebook.tex

Working paper drafts/Working-Paper-vulnerability-Notebook.nb.html

Working paper drafts/Working-Paper-vulnerability-Notebook.html

Working paper drafts/Working-Paper-vulnerability-2nd-Draft.tex

Working paper drafts/library.bib

Working paper drafts/financial-vulnerability-over-the-housing-cycle.html

Working paper drafts/Working-Paper-vulnerability-3rd-Draft_files/

Working paper drafts/Working-Paper-vulnerability-3rd-Draft_cache/

.Rproj.user/

R-Code/

wealth-effect.Rproj

UK-WEA-survey/

*.Rproj

.RDataTmp

Working paper drafts/chunk-code-5ef448d6e5e.log

Working paper drafts/consumption function tests.xlsx

Working paper drafts/introduction - versatzstücke.txt

Working paper drafts/Micro-data-preparation-for-paper---vulnerability.html

Working paper drafts/Working-Paper-vulnerability-3rd-Draft.log

Working paper drafts/Working-Paper-vulnerability-3rd-Draft.html

Working paper drafts/Working-Paper-vulnerability-2nd-Draft.log

Working paper drafts/Working-Paper-vulnerability-2nd-Draft.nb.html

Working paper drafts/Working-Paper-vulnerability-3rd-Draft.nb.html

Working paper drafts/Working-Paper-vulnerability-3rd-Draft.tex

Working paper drafts/Micro-data-preparation-for-paper---vulnerability.Rmd

RunningPapersExperimentsInBackground.R

Working paper drafts/forThesis_test_Working-Paper-vulnerability-3rd-Draft_cache/

Working paper drafts/forThesis-test---Working-Paper-vulnerability-3rd-Draft---Kopie_cache/

Working paper drafts/Working-Paper-vulnerability-firstRevise_cache/

Working paper drafts/forThesis_test_Working-Paper-vulnerability-3rd-Draft.log

Working paper drafts/forThesis_test_Working-Paper-vulnerability-3rd-Draft.tex

Working paper drafts/forThesis-test---Working-Paper-vulnerability-3rd-Draft---Kopie.tex

Working paper drafts/Working-Paper-vulnerability-3rd-Draft.aux

Working paper drafts/Working-Paper-vulnerability-3rd-Draft.out

Working paper drafts/Working-Paper-vulnerability-firstRevise.log

Working paper drafts/Working-Paper-vulnerability-firstRevise.tex

model_base_NDL_analysis_March23_III.csv

Working paper drafts/
